/* ALL */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #282D35;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}
.nav--icon_text, .nav--title {
    margin: 0;
    color:#DEEBF8;
}
.nav--icon_text {
    margin-right: auto;
    color:#61DAFB;
}
.nav--icon_img {
    height: 30px;
    margin-right: 7px;
}

/* Main */
main {
    margin: 50px 50px auto;
    color: #DEEBF8;
}
.main--title {
    margin: 0;
    font-size: 40px;
    letter-spacing: -1px;
}
.main--list > li {
    padding-block: 10px;
}
.main--list > li::marker {
    color: #61DAFB;
    font-size: 30px;
}